body {
	background-image: url("achtergrond2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: auto;
	margin:0;
	padding: 0;
}
p {
	font-size: 19px;
}
button {
	background-color: green;
	padding: 6px 12px;
	font-size: 13px;
	margin-left: 46%;
}
p {
	text-align: center;
}
li {
	font-size: 17px;
}
